<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public/css/style.css"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> Song Release Year </title>
    </head>
    <body>
        <h1>$$RELEASE_YEAR$$</h1>
        <table>
            <thead>
                <tr>
                    <th>Song Title</th>
                    <th>Artist</th>
                    <th>Release Year</th>
                    <th>Dancability Score</th>
                </tr>
            </thead>
        <tbody>
        $$TABLE_BODY$$
        </tbody>
    </table>
</body>
</html>