<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> Songs from $$RELEASE_YEAR$$ </title>
    </head>
    <body>
        <a href="http://localhost:9000" target="_self">Return to Menu</a>
        <div>
            <h4>Top Spotify Songs from $$RELEASE_YEAR$$</h4>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-6"><a href="$$PREV_ADDRESS$$" target="_self">$$PREV_TEXT$$</a></div>
                <div class="cell large-6"><a href="$$NEXT_ADDRESS$$" target="_self">$$NEXT_TEXT$$</a></div>
            </div>
        </div>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto;border-spacing: 100px 2px;">
            <thead>
                <tr>
                    <th>Song Title</th>
                    <th>Artist</th>
                    <th>Release Year</th>
                    <th>Danceability Score</th>
                </tr>
            </thead>
            <tbody>
                $$TABLE_BODY$$
            </tbody>
        </table>

        <!-- Script Tags -->
        <script src="public/js/vendor/jquery.js"></script>
        <script src="public/js/vendor/what-input.js"></script>
        <script src="public/js/vendor/foundation.js"></script>
        <script type="application/javascript">$(document).foundation();</script>
    </body>
</html>